@define-color bg0 #323d43;
@define-color bg1 #21252b;
@define-color bg2 #2c313a;
@define-color bg3 #3e4451;
@define-color bg4 #4b5263;

@define-color red #e68183;
@define-color orange #e68183;
@define-color yellow #d9bb80;
@define-color green #a7c080;
@define-color aqua #87c095;
@define-color blue #83b6af;
@define-color purple #d39bb6;

@define-color fg #868d80;

@define-color grey0 #5c6370;
@define-color grey1 #828997;
@define-color grey2 #abb2bf;
